### Reading in NHANES demographics 2009-2010

https://wwwn.cdc.gov/Nchs/Nhanes/2009-2010/DEMO_F.htm

In [2]:
import pandas as pd

df = pd.read_sas('/Users/Reid/DS-SF-32/dataset/DEMO_F.XPT')

In [3]:
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,51624.0,6.0,2.0,1.0,1.0,34.0,409.0,410.0,3.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,80100.543512,81528.772006,1.0,83.0
1,51625.0,6.0,2.0,2.0,1.0,4.0,49.0,50.0,5.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,53901.104285,56995.035425,2.0,79.0
2,51626.0,6.0,2.0,1.0,1.0,16.0,202.0,202.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,13953.078343,14509.278860,1.0,84.0
3,51627.0,6.0,2.0,1.0,1.0,10.0,131.0,132.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,NaN,11664.899398,12041.635365,2.0,86.0
4,51628.0,6.0,2.0,2.0,2.0,60.0,722.0,722.0,4.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,20090.339256,21000.338724,2.0,75.0

In [4]:
df.RIAGENDR.value_counts()

2.0    5312
1.0    5225
Name: RIAGENDR, dtype: int64