In [1]:
ls

14-clustering.pptx                  Expectation.png*
Clustering and Regression.ipynb*    Max step.png*
Clustering with Scikit-Learn.ipynb* Maximum Likelihood.png*
EM algorithm_streamlined.ipynb*     histograms/
EM and ML.gif*                      hospdata.csv*
EM presentation2.pptx*              iris.data*
EM.png*                             lca hospital.ipynb*
Expectation left.png*               nbt1406.pdf*
Expectation right 2.png*            obs.png*
Expectation right.png*              old-faithful.csv*

In [12]:
import pandas as pd

df = pd.read_csv("hospdata.csv")
df.head()

,days,sex,age,call,HCAHPS_21,HCAHPS_22,HCAHPS_1,HCAHPS_2,HCAHPS_3,HCAHPS_4never,...,o2,o3,o4,l2,l8,icu3,icu4,l31,edu35,filter_$
0,1,1,36,1,8,3,4,4,4,2,...,5,5,5,,,,,,,0
1,7,1,95,1,11,4,4,,4,1,...,5,5,5,,,5,5,,,0
2,2,1,49,1,11,4,,,,2,...,5,5,5,,,,,,,0
3,2,1,63,1,11,4,4,4,4,2,...,5,5,5,,,,,,,0
4,1,1,60,1,11,4,4,4,4,2,...,5,5,5,,,,,,,0

In [3]:
%matplotlib inline

cols = ['sex', 'age']

df2 = df[cols]

df2.loc[:, 'sex'] = df2['sex'].map({1:1, 2:0})

df2.loc[:, 'laborpain'] = pd.to_numeric(df['l31'], errors='coerce').fillna(0).map({0:0, 1:1, 2:1, 3:1, 4:1, 5:1})

df2.head()

/Users/Carter/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:561: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/Users/Carter/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Carter/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

   sex  age  laborpain
0    1   36          0
1    1   95          0
2    1   49          0
3    1   63          0
4    1   60          0

In [6]:
X = df2.as_matrix()

In [9]:
import itertools

import numpy as np
from scipy import linalg
import matplotlib.pyplot as plt
import matplotlib as mpl

from sklearn import mixture

# Generate random sample, two components
np.random.seed(0)

gmm = mixture.GaussianMixture(n_components=3)
gmm.fit(X)

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=3, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [10]:
df2.loc[:, 'lc'] = gmm.predict(X)

In [11]:
df2.groupby("lc").describe()

                  age  laborpain          sex
lc
0  count  4073.000000     4073.0  4073.000000
   mean     41.857599        0.0     0.338080
   std      11.206310        0.0     0.473114
   min       0.000000        0.0     0.000000
   25%      34.000000        0.0     0.000000
   50%      44.000000        0.0     0.000000
   75%      51.000000        0.0     1.000000
   max      58.000000        0.0     1.000000
1  count  9414.000000     9414.0  9414.000000
   mean     72.143828        0.0     0.561185
   std       9.838704        0.0     0.496269
   min      54.000000        0.0     0.000000
   25%      65.000000        0.0     0.000000
   50%      71.000000        0.0     1.000000
   75%      79.000000        0.0     1.000000
   max     105.000000        0.0     1.000000
2  count  2327.000000     2327.0  2327.000000
   mean     32.904168        1.0     0.000000
   std       5.334456        0.0     0.000000
   min      15.000000        1.0     0.000000
   25%      30.000000        1.0     0.000000
   50%      33.000000        1.0     0.000000
   75%      36.000000        1.0     0.000000
   max      55.000000        1.0     0.000000