# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [73]:
import os
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [74]:
df = pd.read_csv(os.path.join('..','..', 'dataset', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [75]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [76]:
len(df.index)

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [77]:
collist = df.columns.tolist()
for col in collist:
    print col

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [78]:
len(df.columns)

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [114]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [40]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [81]:
df.loc[46, 'Ozone']

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [122]:
# TODO
ozone_values = df['Ozone'].isnull().sum()
print ozone_values

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [83]:
df['Ozone'].mean()
#means automatically excludes NaN

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [101]:
# TODO
df1 = df[(df['Ozone'] > 31) & (df['Temp'] > 90)]

print df1[['Ozone', 'Temp']]

     Ozone  Temp
68    97.0    92
69    97.0    92
119   76.0    97
120  118.0    94
121   84.0    96
122   85.0    94
123   96.0    91
124   78.0    92
125   73.0    93
126   91.0    93

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [124]:
df1['Solar.R'].mean()

181.2962962962963

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [128]:
# TODO
df2 = df[df['Month'] == 6]

df2['Temp'].mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [129]:
df3 = df[df['Month'] ==5]
df3['Ozone'].max()

115.0