# Web Scraping Tutorial

I've received interest from some people about web scraping, so I decided to make a tutorial to help you guys and gals get started!

Installation
1. XPath - Add On that helps you find absolute/relative paths of text on a webpage faster. I don't use Firefox so I am not sure how it works, but should work very similar.
    - Chrome https://chrome.google.com/webstore/detail/xpath-helper/hgimnogjllphhhkhlmebbmlgjoejdpjl
    - Firefox https://addons.mozilla.org/en-US/firefox/addon/xpath-checker/
2. conda install bs4 or pip install bs4
3. conda install lxml or pip install lxml
4. pip install scrapy

bs4 is BeautifulSoup4, which is a package that helps deal with HTML tags

lxml processes XML and HTML in Python

Scrapy allows us to use XPATH Selector

If you find yourself having problems scraping websites that have a ton of injected JavaScript or JQuery, you'll need to download a web driver:
    - Chrome: https://sites.google.com/a/chromium.org/chromedriver/downloads
    - Firefox: https://github.com/mozilla/geckodriver/releases
    - Safari: https://webkit.org/blog/6900/webdriver-support-in-safari-10/
    - IE: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/

You'll also need to install Selenium
pip install selenium

Web drivers and Selenium allows you to access all the injected JavaScript and JQuery.

### *** FAIR WARNING ***
### Web scraping is not entirely legal. If you are accessing/scraping hundreds of pages within seconds, they will find out and you will get yourself banned! Please use with caution!

# Let's start scraping!

In [2]:
# First let's import everything we just installed!

import pandas as pd
import numpy as np
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import requests
import time
from bs4 import BeautifulSoup

# If you need it, after downloading the webdriver, you'll need to access it
from selenium import webdriver
chromedriver = "/Users/edwardlee/Desktop/chromedriver"

In [3]:
# Let's scrape some Craigslist
# BE SURE THAT WHEN YOU DO .GET REQUEST, YOU AREN'T DOING IT CONSTANTLY, EVERY .GET RESPONSE TALKS TO THE WEBSITE.
# IF YOU DO IT MULTIPLE TIMES, THEY'LL CATCH ON!
# USE THE TIME COMMAND TO HAVE A BIT MORE RANDOMNESS TO IT, BUT ITS NOT 100% PROOF

response = requests.get('https://sfbay.craigslist.org/search/sfc/cta')
time.sleep(5*np.random.rand())
HTML = response.text
HTML[0:500]

u'\ufeff<!DOCTYPE html>\n\n<html class="no-js"><head>\n    <title>SF bay area cars &amp; trucks  - craigslist</title>\n\n    <meta name="description" content="SF bay area cars &amp; trucks  - craigslist">\n    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>\n    <link rel="canonical" href="https://sfbay.craigslist.org/search/sfc/cta">\n    <link rel="alternate" type="application/rss+xml" href="https://sfbay.craigslist.org/search/sfc/cta?format=rss" title="RSS feed for craigslist | SF bay area cars &amp;'

Above is the HTML for the cars and trucks in the sfbay. We want to find the titles and pricing! We will need to find the relative xpath for each tag. Using your xpath addon, highlight over the item you want and it should show you the absolute path. By using // you can narrow down the xpath to the item you want. An example below:

**Absolute Path**: ```/html[@class='js canvas draggable fileAPI geolocation hashChange matchMedia picture pushState placeholder no-touchCapable transitions localStorage']/body[@class='search has-map en desktop w1024 grid']/section[@id='page-top']/form[@id='searchform']/div[@id='sortable-results']/ul[@class='rows']/li[@class='result-row'][1]/p[@class='result-info']/span[@class='result-meta']/span[@class='result-price']```

**Relative Path**: ```//li[@class='result-row']//span[@class='result-price']```

The relative path gives me ALL the prices on the first page. We can save that into a variable.

In [4]:
prices = Selector(text=HTML).xpath("//li[@class='result-row']/p[@class='result-info']/span[@class='result-meta']/span[@class='result-price']/text()").extract()
prices

[u'$5650',
 u'$8268',
 u'$2000',
 u'$18999',
 u'$1',
 u'$500',
 u'$1400',
 u'$3500',
 u'$1100',
 u'$38000',
 u'$8000',
 u'$5500',
 u'$4999',
 u'$10750',
 u'$13000',
 u'$4500',
 u'$4500',
 u'$3000',
 u'$1514',
 u'$18300',
 u'$3500',
 u'$3449',
 u'$38000',
 u'$10990',
 u'$2850',
 u'$19990',
 u'$7900',
 u'$4700',
 u'$4000',
 u'$28900',
 u'$3500',
 u'$14995',
 u'$2400',
 u'$18999',
 u'$38000',
 u'$2600',
 u'$5750',
 u'$15600',
 u'$17995',
 u'$22500',
 u'$3500',
 u'$6995',
 u'$2900',
 u'$18888',
 u'$2500',
 u'$13499',
 u'$38000',
 u'$1300',
 u'$20988',
 u'$13000',
 u'$25995',
 u'$2000',
 u'$26999',
 u'$5800',
 u'$38000',
 u'$11900',
 u'$3300',
 u'$3300',
 u'$24995',
 u'$3300',
 u'$7995',
 u'$11000',
 u'$23995',
 u'$38000',
 u'$5700',
 u'$18580',
 u'$9900',
 u'$7500',
 u'$1000',
 u'$3200',
 u'$10995',
 u'$19000',
 u'$2299',
 u'$1900',
 u'$14999',
 u'$37750',
 u'$4550',
 u'$9995',
 u'$1',
 u'$6888',
 u'$3200',
 u'$37500',
 u'$7500',
 u'$18995',
 u'$68999',
 u'$2000',
 u'$16995',
 u'$37500',
 u'$2500',
 u'$22500',
 u'$22995',
 u'$13000',
 u'$3000',
 u'$2300',
 u'$19995',
 u'$1800',
 u'$12600',
 u'$17995',
 u'$19699',
 u'$17995',
 u'$9500',
 u'$16800',
 u'$10000',
 u'$3499',
 u'$17988',
 u'$1300',
 u'$2077',
 u'$15995',
 u'$14950',
 u'$1800',
 u'$15999',
 u'$7000',
 u'$19999',
 u'$18999',
 u'$9700',
 u'$18995']

In [76]:
# Now let's do the same thing with titles
titles = Selector(text=HTML).xpath("//li[@class='result-row']/p[@class='result-info']/a[@class='result-title hdrlnk']/text()").extract()
titles[0:5]

[u'2008 Chevy Tahoe LTZ 120k miles',
 u'2005 Kia Optima',
 u'2008 Mercedes c300 amg package 6 speed manual',
 u'2001 Volvo S80 LOW MILAGE 94K!!! VERY CLEAN!!!',
 u'2005 Ford F-250 Super Duty Diesel Lifted New Off Road Tires Tool Box!!']

In [77]:
print len(prices)
print len(titles)

92
100

However, we noticed that not every post has a price listed, but every title is listed! We will need to loop it 1 by 1 to make sure that we get everything

In [8]:
title_xpath = "//li[@class='result-row'][%s]/p[@class='result-info']/a[@class='result-title hdrlnk']/text()"
price_xpath = "//li[@class='result-row'][%s]/p[@class='result-info']/span[@class='result-meta']/span[@class='result-price']/text()"

# The [%s] sign is important! It'll allow us to fill in the value we need.

titles_all = []
price_all = []
for i in range(1,101):
    title_placeholder = title_xpath % i
    price_placeholder = price_xpath % i
    
    titles_all.append(Selector(text=HTML).xpath(title_placeholder).extract())
    price_all.append(Selector(text=HTML).xpath(price_placeholder).extract())
        
df = pd.DataFrame({'titles': titles_all, 'price': price_all})

In [7]:
# Completed!
df

       price                                             titles
0    [$5650]  [2005 Audi AllRoad Quattro 2.7tt CLEAN TITLE 9...
1    [$8268]                    [2003 Chevrolet 3500 box truck]
2    [$2000]  [Mini-Van 4dr'05 Honda Odyssey Touring day w/D...
3   [$18999]  [2013 Mercedes-Benz C-Class C250 SPORT~1 OWNER...
4       [$1]                [2001 VW JETTA GLX VR6 -2.8 Litter]
5     [$500]                                 [Wanted  Mercedes]
6    [$1400]                    [2012 Lexus IS 250 low mileage]
7    [$3500]                       [1991 Mercedes-Benz 560 SEL]
8    [$1100]                               [1998 Nissan sentra]
9   [$38000]  [2016 Audi Q3 2.0 Quattro Prestige & Sport PKG...
10   [$8000]                                [Honda Accord 2006]
11   [$5500]         [2015 Dodge Dart Sxt Need Gone Very Cheap]
12   [$4999]                    [Clean Title 2007 Toyota Prius]
13  [$10750]  [2013 *Nissan* *Sentra* 🚗 As Low As $800 DOWN...
14  [$13000]  [Clean Title 2013 Ford Fusion Energi Plug in H...
15   [$4500]  [2005 bmw 330i Smogged 139kMile CleanTitle/Car...
16   [$4500]  [2007 BMW 328i 2DR COUPE SPORT* ALL PWR* LOADE...
17   [$3000]  [2009 SMART FORTWO PASSION 2DR*AUTO W/SHIFTERS...
18   [$1514]  [2003 JEEP WRANGLER SPORT SUV RUBICON 4.0L V6 ...
19  [$18300]                 [2014 Chevrolet Suburban LT Black]
20   [$3500]       [2001 Honda civic  gx cng only  no gasoline]
21   [$3449]                               [2005 Nissan sentra]
22  [$38000]  [2013 Audi Q7 3.0 Supercharged Premium Plus PK...
23        []             [1972 Datsun 240Z 63k  original miles]
24  [$10990]                    [2006 *Nissan* *350Z* 👌🚗🌟🚙]
25   [$2850]                 [2003 GMC Yukon XL. 4x4 3row seat]
26  [$19990]  [2007 *Mercedes-Benz* *S-Class* S 550 4dr Seda...
27   [$7900]                     [FIAT 2012 LOUNGE (full Load)]
28        []  [2014 *Lexus IS 250* sedan 4dr Sport Sdn Auto ...
29   [$4700]                        [2007 Prius - Clean Title!]
..       ...                                                ...
70   [$9900]                    [2005 international 4300 DT466]
71   [$7500]            [2008 Toyota Sienna LE ***LOW MILES***]
72   [$1000]                                [Range Rover sport]
73   [$3200]              [2002 volkswagen passat 1.8t s.Turbo]
74  [$10995]                  [2006 Mercedes-Benz E-Class E350]
75  [$19000]                    [Volvo C30 R design with turbo]
76   [$2299]              [1998 Honda Civic Hx coupe  *manual*]
77   [$1900]           [Volkswagen Jetta 2000 negociable price]
78  [$14999]  [2013 *Chevrolet* *Silverado* *1500* 🚗 As Low...
79  [$37750]  [2016 Audi Q3 2.0 Quattro Prestige & Sport PKG...
80   [$4550]                        [2004 Toyota Corolla LE 4D]
81   [$9995]                [2006 Toyota Sienna CE 7 Passenger]
82      [$1]                    [Parting out 2008 Smart Fortwo]
83   [$6888]                           [2002 BMW 3-Series 330i]
84   [$3200]             [2003 Toyota Prius Hybrid!!!!!!!!!!!!]
85  [$37500]                                [2017 Audi A4 2.0T]
86   [$7500]  [2009 -- Volkswagen Jetta Sportwagen SEL 2.0T ...
87  [$18995]                           [2010 BMW 3-Series 335i]
88  [$68999]  [2013 MASERATI GRANTURISMO SPORT COUPE BK? TAX...
89   [$2000]                 [Jeep Wrangler Sahara Wheel Drive]
90  [$16995]                           [2011 BMW 5-Series 528i]
91  [$37500]  [2017 Audi Q3 2.0T Premium Plus & Technology P...
92   [$2500]                        [Clean 2004 SAAB 9-3, 2.0t]
93  [$22500]       [2005 International 4200 Box Truck for sale]
94  [$22995]                  [2012 Mercedes-Benz C-Class C250]
95  [$13000]                   [2010 Acura TSX w/ Tech Package]
96   [$3000]  [SpedAutomatic2009 Honda Pilot EX-L traction c...
97   [$2300]           [2001 Toyota Corolla  s smoged reliable]
98  [$19995]                                [2008 Lexus LS 460]
99   [$1800]                            [Commuter Honda Accord]

[100 rows x 2 columns]

BeautifulSoup is a great package to help you find information! Below is an example, I'll use the same HTML link.

In [80]:
soup = BeautifulSoup(HTML, "lxml")

In [81]:
soup.html.title

In [82]:
soup.html.title.text

u'SF bay area cars & trucks  - craigslist'

In [83]:
element = soup.find_all('span', {'class': 'result-price'})

In [84]:
# You can now loop through this and put it into a list to put into a dataframe!
element[0].text

u'$3000'

BeautifulSoup4 is very powerful to help you clean up HTML and find specific things you need. I won't go over everything, but their documentation is really good: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

Here's a quick tutorial on how to use webdriver. The code below is my code for scraping a dropdown box injected with JQuery. I could not scrape it regularly, so I used selenium's webdriver to get it.

In [85]:
browser = webdriver.Chrome(executable_path = chromedriver)

# Get all years for 1996-2016
browser.get('http://stats.nba.com/league/player/')
HTML = browser.page_source
year_data = Selector(text=HTML).xpath("//select[@name='Season']/option/text()").extract()

# Make sure to quit the webdriver browser or you'll end up having a bunch of opened browsers
browser.quit()

In [86]:
year_data

[u'2016-17',
 u'2015-16',
 u'2014-15',
 u'2013-14',
 u'2012-13',
 u'2011-12',
 u'2010-11',
 u'2009-10',
 u'2008-09',
 u'2007-08',
 u'2006-07',
 u'2005-06',
 u'2004-05',
 u'2003-04',
 u'2002-03',
 u'2001-02',
 u'2000-01',
 u'1999-00',
 u'1998-99',
 u'1997-98',
 u'1996-97']