# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [1]:
import os
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [4]:
df = pd.read_csv('/Users/Carter/Projects/DataScience/DS-SF-32/dataset/ozone.csv')

> ## Question 2.  Display a few lines of the dataset to the screen.

In [5]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [76]:
len(df.index)

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [77]:
collist = df.columns.tolist()
for col in collist:
    print col

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [78]:
len(df.columns)

6

In [7]:
df.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [114]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [40]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [81]:
df.loc[46, 'Ozone']

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [122]:
# TODO
ozone_values = df['Ozone'].isnull().sum()
print ozone_values

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [8]:
df['Ozone'].isnull().sum()

37

In [9]:
df['Ozone'].dropna().mean()
#means automatically excludes NaN

42.12931034482759

In [10]:
df['Ozone'].mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [12]:
# TODO
df1 = df[(df['Ozone'] > 31) & (df['Temp'] > 90)]

df1

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [124]:
df1['Solar.R'].mean()

181.2962962962963

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [14]:
# TODO
df2 = df[df['Month'] == 6]

In [15]:
df2

    Ozone  Solar.R  Wind  Temp  Month  Day
31    NaN    286.0   8.6    78      6    1
32    NaN    287.0   9.7    74      6    2
33    NaN    242.0  16.1    67      6    3
34    NaN    186.0   9.2    84      6    4
35    NaN    220.0   8.6    85      6    5
..    ...      ...   ...   ...    ...  ...
56    NaN    127.0   8.0    78      6   26
57    NaN     47.0  10.3    73      6   27
58    NaN     98.0  11.5    80      6   28
59    NaN     31.0  14.9    77      6   29
60    NaN    138.0   8.0    83      6   30

[30 rows x 6 columns]

In [16]:
df2['Temp'].mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [17]:
df3 = df[df['Month'] ==5]
df3

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
3    18.0    313.0  11.5    62      5    4
4     NaN      NaN  14.3    56      5    5
..    ...      ...   ...   ...    ...  ...
26    NaN      NaN   8.0    57      5   27
27   23.0     13.0  12.0    67      5   28
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31

[31 rows x 6 columns]

In [18]:
df3['Ozone'].max()

115.0